@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-medium {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 0.8rem;
  color: #787885;
}
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.nav-heading {
  width: 50%;
}
.nav-heading > p {
  font-weight: bold;
  font-size: 1.25rem;
  color: #3a3a3a;
  margin-top: 25px;
}
ul {
  list-style: none;
  margin-top: 30px;
}
ul,
li {
  display: inline-block;
  padding-left: 35px;
  font-size: 1rem;
  font-weight: 500;
}
.nav-container {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 640px) {
  .nav-heading {
    width: 30%;
  }
  .nav-heading > p {
    font-size: 0.8rem;
  }
  ul,
  li {
    padding-left: 10px;
    font-size: 0.95rem;
  }
  ul {
    margin-top: 25px;
  }
  i {
    padding-left: 10px;
    font-size: 20px;
  }
  .nav-container {
    justify-content: space-between;
    margin: 0 auto;
  }
}
.information-heading {
  width: 580px;
  height: 270px;
  margin: 0 auto;
  margin-top: 50px;
}
.information-heading > h2 {
  font-size: 3rem;
  color: #3a3a3a;
  margin-bottom: 10px;
  text-align: center;
}
.information-heading > p {
  font-size: 1rem;
  font-weight: 500;
  color: #3a3a3a;
  width: 540px;
  height: 60px;
  margin-bottom: 20px;
  text-align: center;
}
button {
  background-color: #e02c6d;
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 40px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
button,
p,
i {
  display: inline-block;
}
button,
i {
  font-size: 15px;
  padding-left: 0px;
}
button,
p {
  font-size: 1rem;
}

@media screen and (max-width: 640px) {
  .information-heading {
    width: 400px;
    height: 220px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .information-heading > h2 {
    font-size: 2.5rem;
  }
  .information-heading > p {
    text-align: center;
    width: 500px;
    height: 80px;
    margin-bottom: 20px;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.photo {
  margin: 0 auto;
}
.sponsor-container {
  max-width: 1110px;
  height: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border: 2px solid whitesmoke;
  border-right: none;
  border-left: none;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 640px) {
  .sponsor-container {
    max-width: 500px;
    height: 100px;
    flex-wrap: wrap;
  }
}
.box-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.box-heading > p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #3a3a3a;
}

.box {
  width: 330px;
  height: 480px;
  background-color: whitesmoke;
  border-radius: 10px;
}
.box > h2 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #3a3a3a;
  margin-top: 10px;
  margin-left: 15px;
}
.box > h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 15px;
  margin-top: 10px;
}
.box > img {
  margin-top: 15px;
  margin-left: 15px;
}
.text-box {
  margin-left: 15px;
}
.box > .icon-box {
  margin-left: 12px;
}
.icon-box > i {
  padding-left: 4px;
  font-size: 10px;
  color: orange;
}
.see-more > p {
  font-size: 1rem;
  font-weight: bold;
  color: #e02c6d;
}
.see-more > i {
  padding-left: 4px;
  color: #e02c6d;
  font-size: 15px;
}
.box-container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
@media screen and (max-width: 640px) {
  .box-container {
    grid-template-columns: repeat(1, 330px);
    margin: 0 auto;
  }
  .box-heading {
    margin-top: 150px;
  }
  .see-more {
    margin-left: 10px;
  }
}
.nav-text > h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  text-align: center;
}
.text {
  font-size: 0.7rem;
  font-weight: 500;
  color: #d9dbe1;
  text-align: center;
  padding-bottom: 3px;
  padding-top: 3px;
}
.icon > i {
  background-color: #79798889;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.icons {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar {
  width: 100%;
  height: 240px;
  background-color: #0a0826;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  border-radius: 50%;
}
.youtube:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #ff9999 0%,
    #ff0000 50%,
    #cc0000 90%
  );

  border-radius: 50%;
}
.twitter:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #aaddff 0%,
    #1da1f2 50%,
    #0c85d0 90%
  );

  border-radius: 50%;
}
.globe:hover {
    background-color: rgb(72, 72, 200);
    border-radius: 50%;
}